<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pettory.pettory.walkingGroupApplication.query.mapper.RegisterWalkingGroupMapper">
    <select id="selectRegisterWalkingGroups" resultType="com.pettory.pettory.walkingGroupApplication.query.dto.RegisterWalkingGroupDTO">
        SELECT
            rwg.register_walking_group_id,
            rwg.walking_group_id,
            rwg.user_id,
            u.user_name,
            rwg.register_walking_group_state,
            wg.walking_group_name
        FROM register_walking_group rwg
        JOIN user u ON (rwg.user_id = u.user_id)
        JOIN walking_group wg ON (rwg.walking_group_id = wg.walking_group_id)
        WHERE u.user_id = #{userId}
        AND rwg.register_walking_group_state = 'ACTIVE'
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="countRegisterWalkingGroups" resultType="long">
        SELECT COUNT(*)
        FROM register_walking_group rwg
        JOIN user u ON u.user_id = rwg.user_id
        WHERE u.user_id = #{userId}
    </select>

    <select id="selectRegisterWalkingGroupById" resultType="com.pettory.pettory.walkingGroupApplication.query.dto.RegisterWalkingGroupDTO">
        SELECT
            rwg.register_walking_group_id,
            rwg.walking_group_id,
            rwg.user_id,
            wg.walking_group_name,
            u.user_name,
            rwg.register_walking_group_state
        FROM register_walking_group rwg
        JOIN user u ON (rwg.user_id = u.user_id)
        JOIN walking_group wg ON wg.walking_group_id = rwg.walking_group_id
        WHERE rwg.register_walking_group_id = #{registerWalkingGroupId}
    </select>

    <select id="selectGroupUsers" resultType="com.pettory.pettory.user.query.dto.UserInfoResponse">
        SELECT
            u.user_id,
            u.user_email
        FROM user u
        JOIN register_walking_group rwg ON rwg.user_id = u.user_id
        WHERE rwg.walking_group_id = #{walkingGroupId}
        AND rwg.register_walking_group_state = 'ACTIVE'
    </select>

    <select id="countGroupUsers" resultType="long">
        SELECT COUNT(*)
        FROM user u
        JOIN register_walking_group rwg ON u.user_id = rwg.user_id
        WHERE rwg.walking_group_id = #{walkingGroupId}
        AND rwg.register_walking_group_state = 'ACTIVE'
    </select>
</mapper>